@import '../../base/var.scss';
@import '~bootstrap/scss/bootstrap.scss';

.App-loading {
  width: 100%;
  height: 3px;
  background-color: $color-theme;
  animation: loading 3s ease-in forwards;
}

@keyframes loading {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}